body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#input-output-container{
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

#outputImage {
    max-width: 100%;
    margin-bottom: 20px;
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#options button {
    flex: 1;
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    max-width: 150px;
    white-space: nowrap;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

#options button:hover {
    background-color: #0056b3;
    border: 1px solid #0056b3;
}

#progress-bar-container {
    margin-top: 20px;
}

#progress-bar {
    height: 20px;
    background-color: #4CAF50;
    width: 0%;
}

.progessbar {
    position: relative;
    text-align: center;
    border: 1px dashed blue;
    height: 16px;
    width: 100%;
}

.progessbar .text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 16px;
    z-index: 10;
}

.progessbar .bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    background-color: green;
}

.score {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    padding: 20px;
}

.score-text {
    font-size: 18px;
    font-weight: bold;
}

#score {
    color: #4CAF50;
}

#answer-display {
    color: green;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#answer-display.error {
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#answer-message {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#answer-message.green {
    color: green;
}

#answer-message.red {
    color: red;
}
